
<% if intro.content_exists? :what %>
<div class="row">
  <h3 class="main-block">What is a <%= intro.slug.capitalize %>?</h3>
</div>

<div class="row">
  <div class="span10 columns">
    <%= raw intro.content(:what) %>
  </div>
</div>
<% end %>


<% if intro.content_exists? :example %>
<div class="row">
  <h3 class="main-block">Examples.</h3>
</div>

<div class="row">
  <div class="span10 columns">
    <%= raw intro.content(:example) %>
  </div>
</div>
<% end %>



<% if intro.content_exists? :how %>
<div class="row">
  <h3 class="main-block">How Does a <%= intro.slug.capitalize %> Work?</h3>
</div>

<div class="row">
  <div class="span10 columns">
   	<%= raw intro.content(:how) %>
  </div>
</div>
<% end %>


<% if intro.content_exists? :why %>
<div class="row">
  <h3 class="main-block">Why Should I Care?</h3>
</div>

<div class="row">
  <div class="span10 columns">
  	<%= raw intro.content(:why) %>
  </div>
</div>
<% end %>


<div class="row">
  <h3 class="main-block">Next Steps</h3>
</div>

<div class="row">
  <div class="span10 columns">

  </div>
</div>