<div class="row">
  <h2 class="main-block highlight">
    <%= @language.name.capitalize %> for <%= @environment.slug %>
  </h2>
</div>

<ul>
	<li>What is <%= link_to @language.name, language_path(@language.name) %>?</li>
	<li>What is <%= link_to @environment.slug, environment_path(@environment.slug) %>?</li>
</ul>

<div class="row">
  <div class="span10 columns">
    <%= raw @language.content(@environment.slug) %>
  </div>
</div>

