<div class="row" >

  <div class="span9 columns">
    <h2>Web Application Environments</h2>
  </div>
  
</div>

<%= render :partial => "intro", :object => @intro %>

<div class="row">
  <h3 class="main-block">List of Application Environments</h3>
</div>

<ul class="media-grid">
<% @environments.each do |env| %>
  <li>
    <a href="/environments/<%= env.slug %>" style="text-align:center">
      <%= env.slug %>
      <img class="thumbnail" src="http://placehold.it/90x90" alt="">
    </a>
  </li>
<% end %>
</ul>

<% @environments.each do |env| %>

  <div id="<%= env.slug %>" class="row">
    <h3 class="main-block highlight">
      <%= env.slug %>
    </h3>
  </div>

	<%= render :partial => "intro", :object => env %>
	
<% end %>
