
<div id="<%= @environment.slug %>" class="row">
  <h2 class="main-block highlight">
    <%= @environment.name %>
  </h2>
</div>

<div class="row">

  <div class="span10 columns">
    A <%= @environment.name %> is a type of <%= link_to "web application environment", environments_path %>.
		If you are new to these terms you can read <%= link_to "web application environment", environments_path %>
		to better understand the concepts outlined below.
  </div>

</div>


<%= render :partial => "partials/intro", :object => @environment %>

<h3>Supported Languages</h3>
<ul>
<% @environment.languages.each do |lang| %>  
  <li><%= link_to "#{lang.name} for #{@environment.name}", environment_language_path(lang.slug, @environment.slug) %></li>
<% end %>
</ul>